:root {
    --main-white: #f0f0f0;
    --main-red: #31bebe;
    --main-blue: #1a1818;
    --main-gray: #161516;
  }
  
  
  * {
    margin: 0;
    padding: 0;
  }
  
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  

    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  
  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
 
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }
  
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
  }
  
  h1,
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4.2rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--main-white);
  }
  
  img {
    display: block;
    width: 100%;
  }
  
   .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }
  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
  }
  
  .nav-list a:hover {
    background: var(--main-blue);
  }
  
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: url("https://img.milanuncios.com/fg/2719/57/271957273_5.jpg?VersionId=9vdX2NQYW0bY3WWSAJH407hXaW8DQo.x");
    background-size: cover;
  }
  .welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-white);
  }

  :root {
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }
  
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: #f9fbfc;
    font-size: 1.6rem;
  }
  #menu-lbl {
    display: none;
    width: 3rem;
    cursor: pointer;
    margin-top: 0.5rem;
    border-radius: 0.4rem;
    transition: all 0.2s ease-in-out;
  }
  
  #menu-lbl:hover {
    transform: scale(1.05);
  }
  
  #menu-lbl:active {
    transform: scale(1.06);
    transform: scale(1);
  }
  
  #menu-lbl img {
    width: auto;
    max-width: 100%;
    height: auto;
  }
  .bright {
    background-color: #f9fbfc;
    color: #333333;
  }
  
  .dark {
    background-color: #333333;
    color: #f9fbfc;
  }
  
  section {
    min-height: 100vh;
    height: auto;
    width: 100%;
    display: flex;
    padding: 10rem 15rem;
    position: relative;
    flex-flow: column wrap;
  }
  
  section h4 {
    font-size: 3rem;
    font-weight: 400;
    padding: 6rem 0;
    flex-basis: 100%;
  }
  
  section h3 {
    font-size: 15rem;
    position: absolute;
    left: 2rem;
    margin: 0;
    padding: 0;
    opacity: 0.2;
  }
  
  section p {
    font-size: 2rem;
  }
  .icon-tiles-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
  }
  
  .icon-tile {
    height: 15rem;
    padding: 2rem 1rem;
    transition: all 0.2s ease-in-out;
  }
  
  .icon-tile:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  
  .icon-tile img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
    section {
      padding: 10rem 5rem;
    }
  @media (max-width: 760px) {
    header {
      padding: 2rem;
      text-align: center;
    }
  }
  
  nav {
      display: none;
      width: 100%;
      background-color: #fafafa;
     }
  
    section {
      flex-flow: column wrap;
      padding: 10rem 2rem;
    }
  
    section h3 {
      position: static;
      font-size: 5rem;
      opacity: 0.5;
      margin: 0;
    }
  
    section h4 {
      padding: 1rem 0;
    }
  
  
    .image-container {
      flex-basis: 100%;
    }
  
    .icon-tile {
      height: 12rem;
    }
  
  @media (max-width: 480px) {
    .icon-tile {
      width: 10rem;
      height: 10rem;
    }
    }

    .projects-section {
        text-align: center;
        padding: 10rem 2rem;
        background: var(--main-blue);
      }
      
      .projects-section-header {
        max-width: 640px;
        margin: 0 auto 6rem auto;
        border-bottom: 0.2rem solid var(--main-white);
      }
      
      @media (max-width: 28.75em) {
        .projects-section-header {
          font-size: 4rem;
        }
      }
      
     
      .projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 4rem;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        margin-bottom: 6rem;
      }
      
      @media (max-width: 30.625em) {
        .projects-section {
          padding: 6rem 1rem;
        }
      
        .projects-grid {
          grid-template-columns: 1fr;
        }
      }
      
      .project {
        background: var(--main-gray);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        border-radius: 2px;
      }
      
      .code {
        color: var(--main-gray);
        transition: color 0.3s ease-out;
      }
      
      .project:hover .code {
        color: #ff7f50;
      }
      
      .project-image {
        height: calc(100% - 6.8rem);
        width: 100%;
        object-fit: cover;
      }
      
      .project-title {
        font-size: 2rem;
        padding: 2rem 0.5rem;
      }
      
      .btn {
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 2px;
      }
      
      .btn-show-all {
        font-size: 2rem;
        background: var(--main-gray);
        transition-duration:  0.3s ease-out;
      }
      
      .btn-show-all:hover {
        background: var(--main-red);
      }
      
      .btn-show-all:hover > i {
        transform: translateX(2px);
      }
      
      .btn-show-all > i {
        margin-left: 10px;
        transform: translateX(0);
        transition: transform 0.3s ease-out;
      }
      
    
      
      .contact-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 80vh;
        padding: 0 2rem;
        background: var(--main-gray);
      }
      
      .contact-section-header > h2 {
        font-size: 6rem;
      }
      
      @media (max-width: 28.75em) {
        .contact-section-header > h2 {
          font-size: 4rem;
        }
      }
      
      .contact-section-header > p {
        font-style: italic;
      }
      
      .contact-links {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 980px;
        margin-top: 4rem;
        flex-wrap: wrap;
      }
      
      .contact-details {
        font-size: 2.4rem;
        text-shadow: 2px 2px 1px #1f1f1f;
        transition: transform 0.3s ease-out;
      }
      
      .contact-details:hover {
        transform: translateY(8px);
      }
      
           
      footer {
        font-weight: 300;
        display: flex;
        justify-content: space-evenly;
        padding: 2rem;
        background: var(--main-gray);
        border-top: 4px solid var(--main-red);
      }
      
      footer > p {
        margin: 2rem;
      }
      
      footer i {
        vertical-align: middle;
      }
      
      @media (max-width: 28.75em) {
        footer {
          flex-direction: column;
          text-align: center;
        }
      }